/* Header.css */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.logo-container {
  margin-right: auto;
}

nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 7rem;
}

nav ul li {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  position: relative;
}

nav ul li :hover {
  color: #ff69b4;
}

nav ul li :hover::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  white-space: nowrap;
  color: #333;
}

nav ul li ::before {
  content: "";
}

.nav-bar {
  background: #181818;
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  min-height: 500px;
  left: 1px;
  transition: top 0.3s;
}

/* Add any other styles or media queries as needed */
